.faq__title {
    font-size: var(--size-2xl);
    line-height: 1;
}

.faq__description {
    color: var(--clr-muted);
    font-family: var(--font-secondary);
    font-size: var(--size-sm);
    line-height: 1.5rem;
    margin: 1rem 0;
    max-width: 60ch;
}

.faq__box {
    background-color: var(--clr-card-bg);
    padding: 2rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: var(--shadow-xl);
}

.faq__box--0margin {
    margin: 0;
}

.faq__box-title {
    font-size: var(--size-sm);
}

.faq__box-description {
    font-size: var(--size-xs);
    font-family: var(--font-secondary);
    margin-top: 0.750em;
    color: var(--clr-slate400);
    line-height: 1.5rem;
}

/* xs */
@media (min-width: 475px) {
    .faq__title {
        font-size: var(--size-3xl);
    }

    .faq__description {
        font-size: var(--size-base);
        line-height: 1.75rem;
    }

    .faq__box-title {
        font-size: var(--size-base);
    }

    .faq__box-description {
        font-size: var(--size-sm);
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .faq__box {
        margin: 0;
    }

    .faq__grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1rem;
    }
}

/* xl */
@media (min-width: 1280px) {

    .faq__title {
        font-size: var(--size-4xl);
    }


    .faq__description {
        font-size: var(--size-lg);
        margin: 2rem 0;
    }

    /* .faq__grid-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    } */
}

/* 2xl */
/* @media (min-width: 1536px) {} */